[
    {config, [
        #{
            files => ["src/*.erl"],
            ruleset => erl_files
        },
%%        #{
%%            files => ["include/*.hrl"],
%%            ruleset => hrl_files
%%        },
        #{
            files => ["rebar.config"],
            ruleset => rebar_config
        }
    ]},
    {output_format, colors},
    {verbose, true}
].